body {
  background-color: rgb(46, 46, 46);
  color: white;
}

.grid {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  width: fit-content;
  user-select: none;
  background-color: rgb(68, 68, 68);
}

.grid div {
  background-color: black;
  /* border-radius: 2px; */
  margin-top: 1px;
  margin-left: 1px;
  line-height: 20px;
  transition: 100ms;
}
.grid .stone {
  background-color: rgb(37, 37, 37);
}
.grid .grass {
  background-color: rgb(0, 105, 0);
  transition: 1s;
}
.grid .dirt {
  background-color: rgb(82, 56, 0);
}

.grid .player {
  background-color: rgb(0, 105, 0);
}
.grid .player::before {
  content: '👨';
}
.grid .question {
  background-color: rgb(80, 80, 80);
}
.grid .question::before {
  padding-left: 2px;
  content: '❔';
}

.grid .fog {
  background-color: rgb(80, 80, 80);
}
.grid .candy {
  background-color: rgb(0, 105, 0);

}
.grid .candy.type-1::before {
  content: '🍬';
  margin-left: -1px;
}
.grid .candy.type-2::before {
  content: '🍭';
  margin-left: -1px;
}
.grid .candy.type-3::before {
  content: '🍰';
  margin-left: -1px;
}
.grid .candy.type-4::before {
  content: '🎂';
  margin-left: -1px;
}
.grid .candy.type-5::before {
  content: '🍩';
  margin-left: -1px;
}
.grid .candy.type-6::before {
  content: '🍪';
  margin-left: -1px;
}
.grid .candy.type-7::before {
  content: '🧁';
  margin-left: -1px;
}
.grid .candy.type-8::before {
  content: '🍫';
  margin-left: 2px;
}
.grid .candy.type-9::before {
  content: '🍨';
  margin-left: -1px;
}
.grid .candy.type-10::before {
  content: '🍧';
  margin-left: 1px;
}



